<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tk-starter-angular</title>

	<script src="../build/bundle.js"></script>

	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="app" ng-controller="App as app" ng-style="app.bg_style">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>app (controller: App)</h2>

				<h1>{{app.title}}</h1>
				<p>a starter project for angular1 apps with sass</p>

				<br><br>

				<form>
					<label for="colorpicker">change currentColor (background-color): </label>
					<select ng-model="app.currentColor" ng-options="color.name for color in app.colors" ng-change="app.update_bg_style()" name="color" id="colorpicker"></select>
				</form>
			</div>
		</div>
	</div>

	<br>
	<hr>
	<br>

	<div ng-controller="Money as money" class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>money (controller: Money)</h2>

				<a ng-click="money.increase()" href="#">increase money</a>
				<p>{{money.getMoney()}}</p>
			</div>
		</div>
	</div>

</body>
</html>